altgraph==0.16.1
appnope==0.1.0
backcall==0.1.0
beautifulsoup4==4.6.3
bokeh==1.0.4
branca==0.3.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cycler==0.10.0
Cython==0.29.2
decorator==4.3.0
docx==0.2.4
docxpy==0.8.5
et-xmlfile==1.0.1
Flask==1.0.2
folium==0.7.0
future==0.17.1
geographiclib==1.49
geopy==1.18.1
get==2018.11.19
gunicorn==19.9.0
idna==2.8
IMAPClient==2.1.0
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.2
Jinja2==2.10
kiwisolver==1.0.1
lxml==4.2.5
macholib==1.11
MarkupSafe==1.1.0
matplotlib==3.0.2
numpy==1.15.4
opencv-python==4.0.0.21
openpyxl==2.5.12
packaging==19.0
pandas==0.23.4
pandas-datareader==0.7.0
parso==0.3.1
pefile==2018.8.8
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
post==2018.11.20
prompt-toolkit==2.0.7
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
ptyprocess==0.6.0
public==2018.11.20
PyAutoGUI==0.9.39
Pygments==2.3.1
PyInstaller==3.4
PyMsgBox==1.0.6
pyobjc==5.1.2
pyobjc-core==5.1.2
pyobjc-framework-Accounts==5.1.2
pyobjc-framework-AddressBook==5.1.2
pyobjc-framework-AdSupport==5.1.2
pyobjc-framework-AppleScriptKit==5.1.2
pyobjc-framework-AppleScriptObjC==5.1.2
pyobjc-framework-ApplicationServices==5.1.2
pyobjc-framework-Automator==5.1.2
pyobjc-framework-AVFoundation==5.1.2
pyobjc-framework-AVKit==5.1.2
pyobjc-framework-BusinessChat==5.1.2
pyobjc-framework-CalendarStore==5.1.2
pyobjc-framework-CFNetwork==5.1.2
pyobjc-framework-CloudKit==5.1.2
pyobjc-framework-Cocoa==5.1.2
pyobjc-framework-Collaboration==5.1.2
pyobjc-framework-ColorSync==5.1.2
pyobjc-framework-Contacts==5.1.2
pyobjc-framework-ContactsUI==5.1.2
pyobjc-framework-CoreAudio==5.1.2
pyobjc-framework-CoreAudioKit==5.1.2
pyobjc-framework-CoreBluetooth==5.1.2
pyobjc-framework-CoreData==5.1.2
pyobjc-framework-CoreLocation==5.1.2
pyobjc-framework-CoreMedia==5.1.2
pyobjc-framework-CoreMediaIO==5.1.2
pyobjc-framework-CoreML==5.1.2
pyobjc-framework-CoreServices==5.1.2
pyobjc-framework-CoreSpotlight==5.1.2
pyobjc-framework-CoreText==5.1.2
pyobjc-framework-CoreWLAN==5.1.2
pyobjc-framework-CryptoTokenKit==5.1.2
pyobjc-framework-DictionaryServices==5.1.2
pyobjc-framework-DiscRecording==5.1.2
pyobjc-framework-DiscRecordingUI==5.1.2
pyobjc-framework-DiskArbitration==5.1.2
pyobjc-framework-DVDPlayback==5.1.2
pyobjc-framework-EventKit==5.1.2
pyobjc-framework-ExceptionHandling==5.1.2
pyobjc-framework-ExternalAccessory==5.1.2
pyobjc-framework-FinderSync==5.1.2
pyobjc-framework-FSEvents==5.1.2
pyobjc-framework-GameCenter==5.1.2
pyobjc-framework-GameController==5.1.2
pyobjc-framework-GameKit==5.1.2
pyobjc-framework-GameplayKit==5.1.2
pyobjc-framework-ImageCaptureCore==5.1.2
pyobjc-framework-IMServicePlugIn==5.1.2
pyobjc-framework-InputMethodKit==5.1.2
pyobjc-framework-InstallerPlugins==5.1.2
pyobjc-framework-InstantMessage==5.1.2
pyobjc-framework-Intents==5.1.2
pyobjc-framework-IOSurface==5.1.2
pyobjc-framework-iTunesLibrary==5.1.2
pyobjc-framework-LatentSemanticMapping==5.1.2
pyobjc-framework-LaunchServices==5.1.2
pyobjc-framework-libdispatch==5.1.2
pyobjc-framework-LocalAuthentication==5.1.2
pyobjc-framework-MapKit==5.1.2
pyobjc-framework-MediaAccessibility==5.1.2
pyobjc-framework-MediaLibrary==5.1.2
pyobjc-framework-MediaPlayer==5.1.2
pyobjc-framework-MediaToolbox==5.1.2
pyobjc-framework-ModelIO==5.1.2
pyobjc-framework-MultipeerConnectivity==5.1.2
pyobjc-framework-NaturalLanguage==5.1.2
pyobjc-framework-NetFS==5.1.2
pyobjc-framework-Network==5.1.2
pyobjc-framework-NetworkExtension==5.1.2
pyobjc-framework-NotificationCenter==5.1.2
pyobjc-framework-OpenDirectory==5.1.2
pyobjc-framework-OSAKit==5.1.2
pyobjc-framework-Photos==5.1.2
pyobjc-framework-PhotosUI==5.1.2
pyobjc-framework-PreferencePanes==5.1.2
pyobjc-framework-PubSub==5.1.2
pyobjc-framework-QTKit==5.1.2
pyobjc-framework-Quartz==5.1.2
pyobjc-framework-SafariServices==5.1.2
pyobjc-framework-SceneKit==5.1.2
pyobjc-framework-ScreenSaver==5.1.2
pyobjc-framework-ScriptingBridge==5.1.2
pyobjc-framework-SearchKit==5.1.2
pyobjc-framework-Security==5.1.2
pyobjc-framework-SecurityFoundation==5.1.2
pyobjc-framework-SecurityInterface==5.1.2
pyobjc-framework-ServiceManagement==5.1.2
pyobjc-framework-Social==5.1.2
pyobjc-framework-SpriteKit==5.1.2
pyobjc-framework-StoreKit==5.1.2
pyobjc-framework-SyncServices==5.1.2
pyobjc-framework-SystemConfiguration==5.1.2
pyobjc-framework-UserNotifications==5.1.2
pyobjc-framework-VideoSubscriberAccount==5.1.2
pyobjc-framework-VideoToolbox==5.1.2
pyobjc-framework-Vision==5.1.2
pyobjc-framework-WebKit==5.1.2
pyparsing==2.3.0
PyPDF2==1.27.5
pyperclip==1.7.0
PyScreeze==0.1.18
PySocks==1.5.7
pystan==2.18.0.0
python-dateutil==2.7.5
PyTweening==1.0.3
pytz==2018.7
PyYAML==3.13
pyzmail36==1.0.3
query-string==2018.11.20
request==2018.11.20
requests==2.21.0
scipy==1.2.0
seaborn==0.9.0
selenium==3.141.0
six==1.12.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
virtualenv==16.2.0
wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.11
xlrd==1.2.0
xsmtplib==1.0.0.dev1
